name: C_C++_CI

on:
  workflow_call:
    inputs:
      dependencies:
        required: true
        type: string
      clang-build:
        required: true
        type: boolean
      gcc-build:
        required: true
        type: boolean
      ninja_build:
        required: true
        type: boolean
    secrets:
      CMAIZE_GITHUB_TOKEN:
        required: true

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cmake_version: [3.16.3]
        gcc_version: [9]
        clang_version: [11]
        libfort_version: [0.4.2]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      - name: Get dependencies
        env:
          cmake_version: ${{ matrix.cmake_version }}
          gcc_version: ${{ matrix.gcc_version }}
          clang_version: ${{ matrix.clang_version }}
          libfort_version: ${{ matrix.libfort_version }}
        uses: NWChemEx-Project/.github/actions/get_dependencies@cache-libfort
        with:
          dependencies: ${{inputs.dependencies}}
      - name: Build using Clang
        if: ${{inputs.clang-build == true}}
        env:
          cmake_version: ${{ matrix.cmake_version }}
          clang_version: ${{ matrix.clang_version }}
          ninja_build: ${{ inputs.ninja_build }}
        uses: NWChemEx-Project/.github/actions/build@cache-libfort
        with: 
          CMAIZE_GITHUB_TOKEN: ${{ secrets.CMAIZE_GITHUB_TOKEN }}
      - name: Build using GCC
        if: ${{inputs.gcc-build == true}}
        env:
          cmake_version: ${{ matrix.cmake_version }}
          gcc_version: ${{ matrix.gcc_version }}
          ninja_build: ${{ inputs.ninja_build }}
        uses: NWChemEx-Project/.github/actions/build@cache-libfort
        with: 
          CMAIZE_GITHUB_TOKEN: ${{ secrets.CMAIZE_GITHUB_TOKEN }}
      - name: Test Application
        uses: NWChemEx-Project/.github/actions/test@cache-libfort
        with: 
          CMAIZE_GITHUB_TOKEN: ${{ secrets.CMAIZE_GITHUB_TOKEN }}
      # - uses: codecov/codecov-action@v1
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     file: ./coverage.xml
